USE [BD_CLIENTES MULTAS]
GO
/****** Object:  Table [dbo].[CLIENTES_CITACIONES]    Script Date: 18/6/2025 9:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES_CITACIONES](
	[IDENTIFICACION] [varchar](50) NULL,
	[TIPO_IDENTIFICACION] [varchar](100) NULL,
	[APELLIDOS] [varchar](255) NULL,
	[NOMBRES] [varchar](255) NULL,
	[NACIONALIDAD] [varchar](100) NULL,
	[SEXO] [varchar](50) NULL,
	[CORREO_CLIENTE] [varchar](100) NULL,
	[FECHA] [date] NULL
) ON [PRIMARY]
GO
